@import "/home/looph0le/.cache/wal/colors-waybar.css";

* {
    font-weight: bold;
    font-family: SF Mono;
    font-size: 16px;
    background-color: transparent;
    border-radius: 60px 25px 60px 25px;
}


#workspaces {
  font-weight: bold;
  color: @foreground;
  background-color: @transparens;
}

#workspaces button {
  font-weight: bold;
  color: @color2;
}

#workspaces button.active {
  color: @color5;
}


#clock {
  margin: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: @background;
  /* background-color: @color1; */
  border-width: 2px;
  background: linear-gradient(60deg, @color3 10%, @color5 50% ,@color2 100%);
}

#battery {
  margin: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: @background;
  background: linear-gradient(60deg, @color3 10%, @color5 50% ,@color2 100%);

}

#network {
  margin: 3px;
  padding-left: 10px;
  padding-right: 20px;
  color: @background;
  background: linear-gradient(60deg, @color3 10%, @color5 50% ,@color2 100%);
}

#pulseaudio {
  margin: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: @background;
  background: linear-gradient(60deg, @color3 10%, @color5 50% ,@color2 100%);
}
