@import "/home/looph0le/.cache/wal/colors-waybar.css";

* {
    font-weight: normal;
    font-family: "JetBrainsMono Nerd Font", "Fira Code", "Ubuntu Mono", "monospace";
    font-size: 14px;
    background-color: @background;
}

#workspaces {
  color: @foreground;
}

#workspaces button {
  color: @color2;
}

#workspaces button.active {
  color: @color5;
}

#clock {
  margin: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: @color3;
  border-width: 2px;
}

#battery {
  margin: 3px;
  padding-left: 10px;
  padding-right: 20px;
  color: @background;
  background: @color3;
}

#network {
  margin: 3px;
  padding-left: 10px;
  padding-right: 20px;
  color: @color3;
}

#pulseaudio {
  margin: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: @background;
  background: @color3;
}
